body {
	color: #777;
	line-height: 170%;
}

.grey_text {
	color: #999;
}

/* Splash */
.splash_title {
	font-size: 32px;
	text-align: center;
}

.splash_spinner {
	font-size: 12px;
}


/*New timeline*/
.new_timeline {
	-webkit-border-image: url("") 1 0;
	min-height: 60px;
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
}

.new_timeline_input {
	background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 15px;
    line-height: 160%;
    margin: 0 12px;
    color: #777;
    font-size: 15px;
}

.new_timeline_input_inner {
	background: #fff;
    color: #777;
    font-size: 15px;
}

/*Timeline items*/
.timeline {
    background: #fff;
    padding: 15px 30px 15px 20px;
    border-bottom: 1px solid #ddd;
}

.timeline_text {
	padding-left: 20px;
	font-size: 15px;
	line-height: 170%;
}

.timeline_username {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
    font-weight: bold; 
    color: #ED8C80;
    font-size: 16px;
    padding-bottom: 5px;
}

.avatar {
	border-radius: 3px;
}

.thumbnail_pic {
	border-radius: 3px;
	padding: 5px 20px 0 0;
}

.created_at {
	padding: 10px 0 0 0;
	font-size: 14px;
}

.source {
	padding: 10px 0 0 20px;
	font-size: 14px;
}

.counts {
	padding: 10px 0 0 10px;
	font-size: 14px;
}

.retweeted {
	background: #f9f9f9;
	padding: 15px 20px;
	margin-top: 10px;
	border-radius: 3px;
	border: 0;
}

.timeline_text_retweeted {
	font-size: 14px;
}

.timeline_username_retweeted {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
    font-weight: bold; 
    color: #ED8C80;
    font-size: 15px;
    padding-bottom: 5px;
}

.created_at_retweeted {
	padding: 6px 0 0 0;
	font-size: 13px;
}

.source_retweeted {
	padding: 6px 0 0 16px;
	font-size: 13px;
}

.counts_retweeted {
	padding: 6px 0 0 10px;
	font-size: 13px;
}

/* Sidebar */
.sidebar_header {
	-webkit-border-image: url("") 1 0;
	min-height: 60px;
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
}

.sidebar_body {
	min-height: 60px;
	background: #f9f9f9;
}

.sidebar_item {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	color: #777;
    font-size: 16px;
    padding: 10px 15px;
}

.enyo-down {
	background: #fff;
}

.sidebar_empty_last_item {
	border-top: 1px solid #fff;
	border-bottom: none;
}
