body {
	color: #777;
	line-height: 170%;
}

a {
	color: #71B1B7;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none; 
}

.grey_text {
	color: #888;
}

/* Splash */
.splash_title {
	font-size: 32px;
	text-align: center;
}

.splash_spinner {
	font-size: 12px;
}


/*New timeline*/
.new_timeline {
	-webkit-border-image: url("") 1 0;
	min-height: 60px;
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
}

.new_timeline_input {
	background: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    line-height: 160%;
    color: #777;
    font-size: 15px;
}

.new_timeline_input_inner {
	background: #fff;
    color: #777;
    font-size: 15px;
}

/*Timeline items*/
.timeline_item {
    background: #fff;
    padding: 15px 30px 15px 20px;
    border-bottom: 1px solid #ddd;
}

.timeline {
	padding-left: 20px;
	font-size: 15px;
	line-height: 170%;
}

.timeline_text {
	padding-top: 5px;
}

.timeline_username {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
    font-weight: bold; 
    color: #ED8C80;
    font-size: 16px;
}

.thumbnail_pic {
	padding: 5px 20px 0 0;
}

.created_at {
	padding: 10px 0 0 0;
	font-size: 14px;
}

.source {
	padding: 10px 0 0 20px;
	font-size: 14px;
}

.counts {
	padding: 10px 0 0 10px;
	font-size: 14px;
}

.retweeted {
	background: #f9f9f9;
	padding: 15px 20px;
	margin-top: 10px;
	border: 0;
}

.timeline_text_retweeted {
	font-size: 14px;
}

.timeline_username_retweeted {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
    font-weight: bold; 
    color: #ED8C80;
    font-size: 15px;
    padding-bottom: 5px;
}

.created_at_retweeted {
	padding: 6px 0 0 0;
	font-size: 13px;
}

.source_retweeted {
	padding: 6px 0 0 16px;
	font-size: 13px;
}

.counts_retweeted {
	padding: 6px 0 0 10px;
	font-size: 13px;
}

/* Sidebar */
.sidebar_header {
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 15px 30px 15px 20px;
}

.sidebar_body {
	background: #f9f9f9;
}

.sidebar_counts_toolbar {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	color: #777;
	background: #fff;
    font-size: 16px;
}

.sidebar_item {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	color: #777;
    font-size: 16px;
    padding: 10px 15px;
}

.enyo-down {
	background: #fff;
}

.sidebar_empty_last_item {
	border-top: 1px solid #fff;
	border-bottom: none;
}

/* Comments */
.comments_header {
	-webkit-border-image: url("") 1 0;
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	font-size: 14px;
	color: #777;
	line-height: 170%;
	padding-top: 12px;
}

.comments_username {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
    font-weight: bold; 
    color: #ED8C80;
    font-size: 15px;
    padding-right: 12px;
}

.comments_avatar {
	width: 40px;
	padding: 0 12px;
}

.comments_button_toolbar {
	background: #f9f9f9;
	margin-top: 12px;
	font-size: 13px;
	border-top: 1px solid #ddd;
}

.comments_button {
	padding: 10px 0;
	text-align: center;
	background: #fff;
} 

.comments_button_selected {
	background: #f9f9f9;
}

.input_toolbar {
	background: #f9f9f9;
	padding: 12px;
	border-bottom: 1px solid #ddd;
}

.comment {
	font-size: 14px;
	color: #777;
	line-height: 170%;
	background: #ffffff;
	padding: 12px 0;
	border-bottom: 1px solid #ddd;
}

/* user view */
.user_header {
	-webkit-border-image: url("") 1 0;
	background: #ffffff;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	color: #777;
	padding-right: 17px;
}

.user_profile_image {
	width: 150px;
	padding: 0 20px 0 13px;
}

.user_username {
	font-size: 24px;
	color: #ED8C80;
	padding-right: 10px;
}

.gender_icon {
	height: 15px;
	padding-right: 10px;
	vertical-align: -2px;
}

.follow_button {
	background: #777;
	color: #fff;
	padding: 0 20px;
}

.unfollow_button {
	background: #f9f9f9;
	color: #777;
	padding: 0 20px;
	border: 1px solid #ddd;
}

.user_counts {
	background: #fff;
	font-size: 15px;
	border-left: 1px solid #ddd;
}

.user_counts_toolbar {
	border-bottom: 1px solid #ddd;
}

.user_counts_toolbar_item_selected {
	background: #f9f9f9;
}

.user_counts_toolbar_item_unselected {
	background: #fff;
}

.user_counts_detail_item_header {
	padding: 0 12px 0 12px;
	margin: 12px 12px 12px 12px;
	background: #f9f9f9;
}

.user_counts_detail_item {
	padding: 0 24px 0 24px;
	white-space: pre-wrap;
}

/* user list view */
.userList_user {
	font-size: 14px;
	color: #777;
	line-height: 170%;
	background: #fff;
	padding: 12px 0;
	border-bottom: 1px solid #ddd;
}
